<div class="EMTRootLink">

<%- include('../__external/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('EMTVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/EMTRootLink/ui-assets/identity.svg',
}) %>

</div>
