<a class="EMTRootLink" href="<%= OLSKCanonicalLocalizedFor('EMTVitrineRoute') %>" title="<%= OLSKFormatted(OLSKLocalized('EMTSharedColonSeparatedFormat'), OLSKLocalized('EMTRootLinkLogoLabel'), OLSKLocalized('EMTRootLinkText')) %>">
	<img class="EMTRootLinkLogo" role="img" src="/_shared/EMTRootLink/ui-assets/logo.svg">
</a>
