<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/launchlet/__compiled/launchlet.css',
	'/_shared/__external/launchlet/__compiled/launchlet.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMLBrowseListDispatchCreate</strong>
	<span id="TestEMLBrowseListDispatchCreate">0</span>
	<span id="TestEMLBrowseListDispatchCreateData">undefined</span>
</p>

<p>
	<strong>EMLBrowseListDispatchClose</strong>
	<span id="TestEMLBrowseListDispatchClose">0</span>
</p>

<p>
	<strong>EMLBrowseListDispatchTouch</strong>
	<span id="TestEMLBrowseListDispatchTouch">0</span>
	<span id="TestEMLBrowseListDispatchTouchData">undefined</span>
</p>
