<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
	'/_shared/__external/launchlet/__compiled/launchlet.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/_shared/__external/launchlet/__compiled/launchlet.js"></script>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMTBrowseDispatchCreate</strong>
	<span id="TestEMTBrowseDispatchCreate">0</span>
</p>

<p>
	<strong>EMTBrowseDispatchCreateData</strong>
	<span id="TestEMTBrowseDispatchCreateData">undefined</span>
</p>

<p>
	<strong>EMTBrowseListDispatchForm</strong>
	<span id="TestEMTBrowseListDispatchForm">0</span>
</p>

<p>
	<strong>EMTBrowseListDispatchClose</strong>
	<span id="TestEMTBrowseListDispatchClose">0</span>
</p>
