<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/launchlet/__compiled/launchlet.css',
	'/_shared/__external/launchlet/__compiled/launchlet.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMLBrowseDispatchCreate</strong>
	<span id="TestEMLBrowseDispatchCreate">0</span>
</p>

<p>
	<strong>EMLBrowseDispatchCreateData</strong>
	<span id="TestEMLBrowseDispatchCreateData">undefined</span>
</p>

<p>
	<strong>EMLBrowseListDispatchForm</strong>
	<span id="TestEMLBrowseListDispatchForm">0</span>
</p>

<p>
	<strong>EMLBrowseListDispatchClose</strong>
	<span id="TestEMLBrowseListDispatchClose">0</span>
</p>

<p>
	<strong>EMLBrowseListDispatchExport</strong>
	<span id="TestEMLBrowseListDispatchExport">0</span>
</p>
