<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/launchlet/__compiled/launchlet.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<p>
	<strong>EMTBrowseInfoItem</strong>
	<span id="TestEMTBrowseInfoItem">undefined</span>
</p>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMTBrowseInfoDispatchBack</strong>
	<span id="TestEMTBrowseInfoDispatchBack">0</span>
</p>

<p>
	<strong>EMTBrowseInfoDispatchDiscard</strong>
	<span id="TestEMTBrowseInfoDispatchDiscard">0</span>
</p>

<p>
	<strong>EMTBrowseInfoDispatchDiscardData</strong>
	<span id="TestEMTBrowseInfoDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>EMTBrowseInfoDispatchUpdate</strong>
	<span id="TestEMTBrowseInfoDispatchUpdate">0</span>
</p>

<p>
	<strong>EMTBrowseInfoDispatchDebug</strong>
	<span id="TestEMTBrowseInfoDispatchDebug">0</span>
	<span id="TestEMTBrowseInfoDispatchDebugData">undefined</span>
</p>
