.EMTBrowseInfo {
	/* EMTBrowseInfoFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 760px) {

.EMTBrowseInfo > :global(.OLSKDetailPlaceholder) {
	/* EMTBrowseInfoFlexbox:Child */
	flex-grow: 1;
}

}

@media screen and (max-width: 760px) {

.EMTBrowseInfo {
	/*min-height: 100%;*/
}

}

.EMTBrowseInfoToolbar {
	border-bottom: var(--EMTBorderStyle);

	/* EMTBrowseInfoFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.EMTBrowseInfoToolbar {
	/* browser quirks */
	z-index: 999;
}

}

.EMTBrowseInfoForm {
	padding: 10px;
}

.EMTBrowseInfoForm p:nth-child(1) {
	margin-top: 0;
}

.EMTBrowseInfoForm hr {
	height: 1px;
	border: none;

	background: #e6e6e6;
}

.EMTBrowseInfoForm :global(input[type=text]), .EMTBrowseInfoForm :global(textarea) {
	width: 50%;
	border: var(--EMTBorderStyle);
	border-radius: 5px;
	padding: 5px 7px;
}

.EMTBrowseInfoForm :global(textarea) {
	min-height: 200px;
}

@media screen and (max-width: 760px) {

	.EMTBrowseInfoForm :global(input[type=text]), .EMTBrowseInfoForm :global(textarea) {
		width: 90%;
		padding: 10px;
	}

}
