.EMTBrowseInfo {
	/* OLSKCommon */
	--OLSKCommonFontFamily: 'Helvetica';
	--OLSKCommonFontSize: 9pt;
	
	/* EMTBrowseInfoFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 760px) {

.EMTBrowseInfo > :global(.OLSKDetailPlaceholder) {
	/* EMTBrowseInfoFlexbox:Child */
	flex-grow: 1;
}

}

.EMTBrowseInfoToolbar {
	/* EMTBrowseInfoFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.EMTBrowseInfoToolbar {
	/* browser quirks */
	z-index: 999;
}

}
