<%
locals.OLSKPageAssets = [
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMLTemplateParamFormDispatchUpdate</strong>
	<span id="TestEMLTemplateParamFormDispatchUpdate">0</span>
</p>

<p>
	<strong>EMLTemplateParamFormDispatchDone</strong>
	<span id="TestEMLTemplateParamFormDispatchDone">0</span>
</p>
