<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestEMTTrackDetailDispatchBack</strong>
	<span id="TestEMTTrackDetailDispatchBack">0</span>
</p>

<p>
	<strong>TestEMTTrackDetailDispatchDiscard</strong>
	<span id="TestEMTTrackDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>TestEMTTrackDetailDispatchDiscardData</strong>
	<span id="TestEMTTrackDetailDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>TestEMTTrackDetailDispatchUpdate</strong>
	<span id="TestEMTTrackDetailDispatchUpdate">0</span>
</p>

</body>
</html>
