:root {
	--OLSKDecorBackgroundDeep: #f3f3f3;
	--OLSKDecorBackgroundDeepEdge: var(--OLSKDecorForegroundLight);
}

.EMLTrack {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;

	background: var(--OLSKCommonBackground);
	color: var(--OLSKCommonForeground);
}

.OLSKBanner {
	display: none;
}
