.Container {
	--EMTBorderStyle: 1px solid #ddd;
	
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 9pt;

	background: var(--EMTCommonBackground);
	color: var(--EMTCommonForeground);
}

#EMTTrackStorageWidget {
	border-top: var(--EMTBorderStyle)
}

.StorageHidden{
	display: none;
}
