<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMTTemplateDispatchDone</strong>
	<span id="TestEMTTemplateDispatchDone">0</span>
</p>

<p>
	<strong>EMTTemplateDispatchDiscard</strong>
	<span id="TestEMTTemplateDispatchDiscard">0</span>
</p>

<p>
	<strong>EMTTemplateDispatchDiscardData</strong>
	<span id="TestEMTTemplateDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>EMTTemplateDispatchUpdate</strong>
	<span id="TestEMTTemplateDispatchUpdate">0</span>
</p>
