<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestEMTTemplateDispatchBack</strong>
	<span id="TestEMTTemplateDispatchBack">0</span>
</p>

<p>
	<strong>TestEMTTemplateDispatchDiscard</strong>
	<span id="TestEMTTemplateDispatchDiscard">0</span>
</p>

<p>
	<strong>TestEMTTemplateDispatchDiscardData</strong>
	<span id="TestEMTTemplateDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>TestEMTTemplateDispatchUpdate</strong>
	<span id="TestEMTTemplateDispatchUpdate">0</span>
</p>

</body>
</html>
