<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMLTemplateDispatchDone</strong>
	<span id="TestEMLTemplateDispatchDone">0</span>
</p>

<p>
	<strong>EMLTemplateDispatchDiscard</strong>
	<span id="TestEMLTemplateDispatchDiscard">0</span>
</p>

<p>
	<strong>EMLTemplateDispatchDiscardData</strong>
	<span id="TestEMLTemplateDispatchDiscardData">undefined</span>
</p>

<p>
	<strong>EMLTemplateDispatchUpdate</strong>
	<span id="TestEMLTemplateDispatchUpdate">0</span>
</p>
