:root {
	--OLSKCommonBackground: var(--EMLCommonBackground);
	--OLSKCommonForeground: var(--EMLCommonForeground);
}

body {
	background: var(--EMLCommonBackground);
	color: var(--EMLCommonForeground);
}
