:root {
	--OLSKCommonBackground: var(--EMTCommonBackground);
	--OLSKCommonForeground: var(--EMTCommonForeground);
}

body {
	background: var(--EMTCommonBackground);
	color: var(--EMTCommonForeground);
}
