<div class="EMLRootLink">

<%- include('../__external/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('EMLVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/EMLRootLink/ui-assets/identity.svg',
}) %>

</div>
