.EMTTrackFooter {
	border-top: var(--EMTBorderStyle);
	
	/* AppContainerFlexbox:Child */
	flex-shrink: 0;

	/* EMTTrackFooterFlexbox:Parent */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.EMTTrackFooter :global(.OLSKToolbar) {
	flex-grow: 1;
}

.EMTTrackFooter :global(.OLSKToolbar > div) {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;

	font-size: 20px;
}

.EMTTrackFooter :global(.OLSKToolbarElementGroup > *:not(:first-child)) {
	margin-left: 10px;
}

:global(.OLSKLanguageSwitcher span) {
	/* browser quirks */
	padding-left: 4px;
}

.EMTTrackFooterStorageButton {
	padding: 0 5px;
}

.EMTTrackFooterStorageButton :global(svg,img) {
	width: 20px;
	height: 20px;
}

.EMTTrackFooterStorageButton :global(path) {
	fill: black;
}

.EMTTrackFooterStorageButton.OSWIconVisible img {
	display: none;
}
