.EMTTrackFooter {
	border-top: var(--EMTBorderStyle);
	
	/* AppContainerFlexbox:Child */
	flex-shrink: 0;

	/* EMTTrackFooterFlexbox:Parent */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.EMTTrackFooter .OLSKToolbar {
	flex-grow: 1;
}

.EMTTrackFooter .OLSKToolbar > div {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0;

	font-size: 20px;
}

.EMTTrackFooter .OLSKToolbarElementGroup > *:not(:first-child) {
	margin-left: 10px;
}

:global(.OLSKLanguageSwitcher span) {
	/* browser quirks */
	padding-left: 4px;
}

.EMTTrackFooterStorageButton.OSWIconVisible .EMTTrackFooterStorageButtonImage {
	display: none;
}

.EMTTrackFooterStorageButton :global(.OSWOptionImage path) {
	fill: black;
}
