.EMLBrowseInfo {
	/* OLSKDecor */
	--OLSKCommonFontFamily: 'Helvetica';
	--OLSKCommonFontSize: 9pt;
	
	/* EMLBrowseInfoFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.EMLBrowseInfoToolbar {
	/* EMLBrowseInfoFlexbox:Child */
	flex-shrink: 0;
}

@media screen and (max-width: 760px) {

.EMLBrowseInfoToolbar {
	/* browser quirks */
	z-index: 999;
}

}
