<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMTBrowseListItemDispatchCreate</strong>
	<span id="TestEMTBrowseListItemDispatchCreate">0</span>
	<span id="TestEMTBrowseListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>EMTBrowseListItemDispatchClick</strong>
	<span id="TestEMTBrowseListItemDispatchClick">0</span>
	<span id="TestEMTBrowseListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>EMTBrowseListItemDispatchArrow</strong>
	<span id="TestEMTBrowseListItemDispatchArrow">0</span>
	<span id="TestEMTBrowseListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>EMTBrowseListItemDispatchFilter</strong>
	<span id="TestEMTBrowseListItemDispatchFilter">0</span>
	<span id="TestEMTBrowseListItemDispatchFilterData">undefined</span>
</p>
