<a class="EMORootLink" href="<%= OLSKCanonicalLocalizedFor('EMOVitrineRoute') %>" title="<%= OLSKFormatted(OLSKLocalized('EMOSharedColonSeparatedFormat'), OLSKLocalized('EMORootLinkLogoLabel'), OLSKLocalized('EMORootLinkText')) %>">
	<img class="EMORootLinkIcon" role="img" src="/_shared/EMORootLink/ui-assets/icon.svg">
</a>
