<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>TestEMTBrowseListDispatchClose</strong>
	<span id="TestEMTBrowseListDispatchClose">0</span>
</p>

<p>
	<strong>TestEMTBrowseListDispatchCreate</strong>
	<span id="TestEMTBrowseListDispatchCreate">0</span>
	<span id="TestEMTBrowseListDispatchCreateData">undefined</span>
</p>

<p>
	<strong>TestEMTBrowseListDispatchClick</strong>
	<span id="TestEMTBrowseListDispatchClick">0</span>
	<span id="TestEMTBrowseListDispatchClickData">undefined</span>
</p>

<p>
	<strong>TestEMTBrowseListDispatchArrow</strong>
	<span id="TestEMTBrowseListDispatchArrow">0</span>
	<span id="TestEMTBrowseListDispatchArrowData">undefined</span>
</p>

<p>
	<strong>TestEMTBrowseListDispatchFilter</strong>
	<span id="TestEMTBrowseListDispatchFilter">0</span>
	<span id="TestEMTBrowseListDispatchFilterData">undefined</span>
</p>

</body>
</html>
