<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMTBrowseListDispatchClose</strong>
	<span id="TestEMTBrowseListDispatchClose">0</span>
</p>

<p>
	<strong>EMTBrowseListDispatchForm</strong>
	<span id="TestEMTBrowseListDispatchForm">0</span>
</p>

<p>
	<strong>EMTBrowseListDispatchCreate</strong>
	<span id="TestEMTBrowseListDispatchCreate">0</span>
</p>

<p>
	<strong>EMTBrowseListDispatchClick</strong>
	<span id="TestEMTBrowseListDispatchClick">0</span>
	<span id="TestEMTBrowseListDispatchClickData">undefined</span>
</p>

<p>
	<strong>EMTBrowseListDispatchArrow</strong>
	<span id="TestEMTBrowseListDispatchArrow">0</span>
	<span id="TestEMTBrowseListDispatchArrowData">undefined</span>
</p>

<p>
	<strong>EMTBrowseListDispatchFilter</strong>
	<span id="TestEMTBrowseListDispatchFilter">0</span>
	<span id="TestEMTBrowseListDispatchFilterData">undefined</span>
</p>
