:global(.EMTBrowseList) {
	border-right: var(--EMTBorderStyle);

	/*--OLSKViewportMasterWidth: 60%;*/
}

:global(.EMTBrowseList .OLSKMasterListToolbar) {
	border-bottom: var(--EMTBorderStyle);
}

.EMTBrowseListToolbarCreateButton {
	margin-left: 4px !important;
}

@media screen and (max-width: 760px) {

.EMTBrowseListToolbarCreateButton {
	margin-left: 8px !important;
}

}
