<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMLBrowseListItemDispatchCreate</strong>
	<span id="TestEMLBrowseListItemDispatchCreate">0</span>
	<span id="TestEMLBrowseListItemDispatchCreateData">undefined</span>
</p>

<p>
	<strong>EMLBrowseListItemDispatchClick</strong>
	<span id="TestEMLBrowseListItemDispatchClick">0</span>
	<span id="TestEMLBrowseListItemDispatchClickData">undefined</span>
</p>

<p>
	<strong>EMLBrowseListItemDispatchArrow</strong>
	<span id="TestEMLBrowseListItemDispatchArrow">0</span>
	<span id="TestEMLBrowseListItemDispatchArrowData">undefined</span>
</p>

<p>
	<strong>EMLBrowseListItemDispatchFilter</strong>
	<span id="TestEMLBrowseListItemDispatchFilter">0</span>
	<span id="TestEMLBrowseListItemDispatchFilterData">undefined</span>
</p>
