<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMLBrowseListDispatchClose</strong>
	<span id="TestEMLBrowseListDispatchClose">0</span>
</p>

<p>
	<strong>EMLBrowseListDispatchForm</strong>
	<span id="TestEMLBrowseListDispatchForm">0</span>
</p>

<p>
	<strong>EMLBrowseListDispatchCreate</strong>
	<span id="TestEMLBrowseListDispatchCreate">0</span>
</p>

<p>
	<strong>EMLBrowseListDispatchClick</strong>
	<span id="TestEMLBrowseListDispatchClick">0</span>
	<span id="TestEMLBrowseListDispatchClickData">undefined</span>
</p>

<p>
	<strong>EMLBrowseListDispatchArrow</strong>
	<span id="TestEMLBrowseListDispatchArrow">0</span>
	<span id="TestEMLBrowseListDispatchArrowData">undefined</span>
</p>

<p>
	<strong>EMLBrowseListDispatchFilter</strong>
	<span id="TestEMLBrowseListDispatchFilter">0</span>
	<span id="TestEMLBrowseListDispatchFilterData">undefined</span>
</p>
