<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/_shared/__external/launchlet/__compiled/launchlet.js"></script>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMTTrackMasterDispatchCreate</strong>
	<span id="TestEMTTrackMasterDispatchCreate">0</span>
</p>

<p>
	<strong>EMTTrackMasterDispatchSelect</strong>
	<span id="TestEMTTrackMasterDispatchSelect">0</span>
	<span id="TestEMTTrackMasterDispatchSelectData">undefined</span>
</p>

<p>
	<strong>EMTTrackMasterDispatchImportData</strong>
	<span id="TestEMTTrackMasterDispatchImportData">0</span>
	<span id="TestEMTTrackMasterDispatchImportDataData">undefined</span>
</p>
