<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/_shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
			}) %>[inputData];
		};
	</script>
</head>
<body>

<script src="/_shared/__external/launchlet/__compiled/launchlet.js"></script>
<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>EMTTrackMasterDispatchCreate</strong>
	<span id="TestEMTTrackMasterDispatchCreate">0</span>
</p>

<p>
	<strong>EMTTrackMasterDispatchSelect</strong>
	<span id="TestEMTTrackMasterDispatchSelect">0</span>
	<span id="TestEMTTrackMasterDispatchSelectData">undefined</span>
</p>

<p>
	<strong>EMTTrackMasterDispatchImportData</strong>
	<span id="TestEMTTrackMasterDispatchImportData">0</span>
	<span id="TestEMTTrackMasterDispatchImportDataData">undefined</span>
</p>

</body>
</html>
