body {
	background: var(--OLSKCommonBackground);
	color: var(--OLSKCommonForeground);
}

.EMLGuide table:first-of-type h1 {
	border: none;
}

.EMLGuide table:not(:first-of-type) td:first-child {
	width: 50%;
}
