<%
locals.OLSKPageTitle = OLSKLocalized('EMLGuideTitle');
locals.OLSKPageDescription = OLSKLocalized('EMLGuideDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="EMLGuide OLSKDecor OLSKDecorCapped">

<div class="EMLGuideCrown OLSKCommonCard OLSKCommonCrownCard">
	<section>
		<span class="EMLGuideCrownName"><%= OLSKLocalized('EMLGuideTitle') %></span>
	</section>
</div>

<div class="EMLGuideContent">
<%- EMLGuideContent.match(/(OLSKSundial:\d+)/g).sort().reverse().reduce(function (coll, item) {
	return coll.split(item).join(include('../../node_modules/OLSKSundial/main.ejs', {
		OLSKSundialSize: 30,
		OLSKSundialLineCount: parseInt(item.split(':').pop()),
		OLSKSundialBaseSize: 10,
		OLSKSundialLineSize: 2,
	}));
}, EMLGuideContent) %>
</div>

<hr role="presentation" />

<%- include('../_shared/EMLRootLink/main.ejs') %>

</div>
